{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="{% block ng_app_module %}{% endblock %}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">  
    <title>{% block title_prefix %}{% endblock %} | Thogan.com Lab</title>
    <meta name="description" content="THogan.com Lab Network Hosted Services">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href="{% static "css/normalize.css" %}" rel="stylesheet" media="all">
    <link href="{% static "css/pure-min.css" %}" rel="stylesheet" media="all">
    <link href="{% static "css/smoothness/jquery-ui-1.10.3.custom.min.css" %}" rel="stylesheet" media="all">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/frontend.css" %}" rel="stylesheet" media="all">   
</head>
<body>
    <header class="dark">THogan.com Lab Network - Hosted Services</header>
    
    <div id="container">
        <div id="application_header" class="clearing grey"
            ng-include="'/static/ngt/application_header.html'"></div>
        <div id="application_view" ng-view></div>
    </div>
    
    <footer class="dark">
        <small>
            Provided by
            <a href="http://www.thogan.com">THogan.com</a> -
            Use of services subject to terms and conditions.
        </small>
    </footer>

    {% csrf_token %}

    <script type="text/javascript" src="{% static "js/jquery-2.0.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui-1.10.3.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/spin.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-cookies.min.js" %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        STRIPE_KEY_PUBLIC = '{{ STRIPE_KEY_PUBLIC }}';
    </script>

    {% block ngapp_scripts %}{% endblock %}
</body>
</html>