<div id="add_zone_dialog" class="dialog dialog_wide grey">
    <div class="dialog_header">Add DNS Zone</div>
    <div class="dialog_body">
        <div class="form_error space_below" ng-show="form_errors != 0">
            <ul class="error_list icons-ul">
                <li ng-repeat="(field, error) in form_errors">
                    <i class="icon-li icon-warning-sign"></i>{{ field }}: {{ error[0] }}
                </li>
            </ul>
        </div>

        <form id="add_zone_form" class="pure-form pure-form-stacked">
            <fieldset>
                <label for="zone_name">Zone Name</label>
                <input id="zone_name" type="text" ng-model="zone.zone_name"
                    ng-disabled="saving">

                <label for="nameserver">Nameserver IP Address</label>
                <input id="nameserver" type="text" ng-model="zone.nameserver"
                    ng-disabled="saving">

                <label for="tsig_key">TSIG Secret Key</label>
                <input id="tsig_key" type="text" ng-model="zone.tsig_key"
                    ng-disabled="saving">

                <label for="tsig_key_name">TSIG Key Name</label>
                <input id="tsig_key_name" type="text" ng-model="zone.tsig_key_name"
                    ng-disabled="saving">

                <label for="tsig_key_algo">TSIG Key Algorithm</label>
                <select id="tsig_key_algo" ng-model="zone.tsig_key_algo" ng-disabled="saving">
                    <option value="HMAC_SHA512">HMAC_SHA512</option>
                    <option value="HMAC_MD5">HMAC_MD5</option>
                </select>

                <div id="form_buttons" class="space_above">
                    <button id="save_button" class="pure-button" type="submit"
                        ng-click="add_zone();" ng-disabled="saving">Add Zone</button>
                    <div id="spinner_box" class="spinner_box space_left"></div>
                </div>
            </fieldset>
        </form>
    </div>
</div>