<h1>Account Created</h1>

<p>Your THogan.com Lab Network Hosted Services account has been created.</p>

<p><strong>Please review</strong> all of the following information before continuing.</p>

<h2>Account ID</h2>

<p>An ID has been generated to identify your account. You will need to remember this so write it down somewhere. Also, since your username on the lab network is an email address, a special email address containing your account ID was created. This address cannot send or receive mail, but you will use it to login to this site, for now.</p>

<p>After you have created hosted domains and mailboxes, you can add your personal email address as an Account Manager. This will allow you to login to this site and manage your account using your regular email and password.</p>

<p><em>Your Account ID:</em></p>
<p style="font-size:1.4em"><strong>{{ account_id }}</strong></p>

<p><em>Your account's email address for authentication:</em> <strong>{{ account_mail }}</strong></p>

<h2>Creating A Password</h2>

<p>You will create a password for your account on the next page. You were given <strong>30 minutes</strong> to create the password from the time you clicked "Create Account" on the last page. Fair warning: don't spend a half hour thinking of a super new password, you can change it later.</p>

<p>Password strength is very important. I recommend using <a href="http://keepass.info/">KeePass Password Safe</a> to create and securely store strong and unique passwords.</p>

<div class="space_above">
    <a href="#/accounts/set_password" class="pure-button">Set Password</a>
</div>