<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading order...
</div>

<div ng-show="loading == false">
    <h1>Order ID {{ order.id }}</h1>

    <p>
        <span class="align_left_15"><strong>Account ID:</strong></span>
            {{ order.account_id }}<br>
        <span class="align_left_15"><strong>Order State:</strong></span>
            {{ order_states[order.order_state] }}<br>
        <span class="align_left_15"><strong>Submitter Email:</strong></span>
            {{ order.submitter_email }}<br>
        <span class="align_left_15"><strong>Submit Date/Time:</strong></span>
            {{ f_datetime(order.submit_datetime) }}
    </p>

    <h2>Order Lines</h2>

    <table class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Days</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Line Price</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order_line in order.order_lines">
                <td>{{ order_line.name }}</td>
                <td>{{ order_line.duration_days }}</td>
                <td>{{ order_line.unit_price_usd | currency }}</td>
                <td>{{ order_line.quantity }}</td>
                <td>{{ order_line.line_price_usd | currency }}</td>
            </tr>
            <tr>
                <td colspan="4">Sub-Total</td>
                <td>{{ order.sub_total_usd | currency }}</td>
            </tr>
            <tr>
                <td colspan="4">Processing Fee</td>
                <td>{{ order.proc_fees_usd | currency }}</td>
            </tr>
            <tr>
                <td colspan="4"><strong>Total</strong></td>
                <td><strong>{{ order.total_usd | currency }}</strong></td>
            </tr>
        </tbody>
    </table>

    <div id="pay_order_section" ng-show="order.order_state == os_new">
        <h2>Confirm and Pay</h2>
        <p>Please confirm the order details above then enter your payment information below to place the order.</p>

        <div class="form_error space_below" ng-show="cc_errors.error_text">
            <i class="icon-warning-sign space_right_small"></i>
            {{ cc_errors.error_text }}
        </div>
        <div class="clearing">
            <div class="float_left">
                <form class="pure-form pure-form-stacked">
                    <fieldset>
                        <legend>Credit Card Details</legend>

                        <label for="cc_card_num">
                            <span class="red_text" ng-show="cc_errors.card_num">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            Credit Card Number
                        </label>
                        <input id="cc_card_num" type="text" style="width: 20em"
                            ng-disabled="saving" ng-model="card_data.card_num">

                        <label for="cc_expiration">
                            <span class="red_text" ng-show="cc_errors.expiration">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            Expiration Date (MM/YY)
                        </label>
                        <input id="cc_expiration" type="text" style="width: 7em"
                            ng-disabled="saving" ng-model="card_data.expiration">

                        <label for="cc_cvc">
                            <span class="red_text" ng-show="cc_errors.cvc">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            Verification Code (Back of Card)
                        </label>
                        <input id="cc_cvc" type="text" style="width: 7em"
                            ng-disabled="saving" ng-model="card_data.cvc">

                        <label for="cc_name">
                            <span class="red_text" ng-show="cc_errors.name">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            Name on Card
                        </label>
                        <input id="cc_name" type="text" style="width: 20em"
                            ng-disabled="saving" ng-model="card_data.name">
                    </fieldset>
                </form>
            </div>
            <div class="float_left space_left">
                <div id="loading_message" ng-show="address_loading == true">
                    <div id="address_loading" class="spinner_box"></div>
                    Loading account address...
                </div>

                <form class="pure-form pure-form-stacked" ng-show="address_loading == false">
                    <fieldset>
                        <legend>Billing Address</legend>

                        <label for="cc_address">
                            <span class="red_text" ng-show="cc_errors.address_line1">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            Street Address
                        </label>
                        <input id="cc_address" type="text" style="width: 20em"
                            ng-disabled="saving" ng-model="card_data.address">

                        <label for="cc_city">
                            <span class="red_text" ng-show="cc_errors.address_city">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            City
                        </label>
                        <input id="cc_city" type="text" style="width: 20em"
                            ng-disabled="saving" ng-model="card_data.city">

                        <label for="cc_state">
                            <span class="red_text" ng-show="cc_errors.address_state">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            State
                        </label>
                        <input id="cc_state" type="text" style="width: 5em"
                            ng-disabled="saving" ng-model="card_data.state">

                        <label for="cc_zipcode">
                            <span class="red_text" ng-show="cc_errors.zip">
                                <i class="icon-warning-sign space_right_small"></i>
                            </span>
                            ZIP Code
                        </label>
                        <input id="cc_zipcode" type="text" style="width: 8em"
                            ng-disabled="saving" ng-model="card_data.zipcode">
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="space_above smaller_text">
            <button id="place_order_button" class="pure-button"
                ng-disabled="saving" ng-click="place_order();">Place Order</button>
            <button class="pure-button red_bg space_left_small"
                ng-disabled="saving">Cancel Order</button>
            <div id="save_spin" class="spinner_box space_left"></div>
        </div>
    </div>

    <div id="payment_record_section" ng-show="order.payment">
        <h2>Order Payment Details</h2>
        <p>If you have any questions or concerns regarding the following charge, please provide the Charge Reference below with your inquiry.</p>
        <table class="pure-table">
            <thead>
                <th>Charge Reference</th>
                <th>Payment Date/Time</th>
                <th>Card Ending In</th>
                <th>Name on Card</th>
                <th>Payment Amount</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ order.payment.charge_ref }}</td>
                    <td>{{ f_datetime(order.payment.payment_datetime) }}</td>
                    <td>{{ order.payment.card_id }}</td>
                    <td>{{ order.payment.name_on_card }}</td>
                    <td>{{ order.payment.payment_amount | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="oreder_fulfillment_section" ng-show="order.order_state == os_paid">
        <h2>Order Fulfillment</h2>

        <p>Thank you! Your order has been paid and a fulfillment process has been created. This process will consume your paid order and issue service credits to your account for each of the items you ordered. When this process is complete, the state of this order will be changed to "Fulfilled", and you should see the new credits in your account summary.</p>

        <p>These service credits can then be used within this management application to activate your services.</p>

        <p>Service credits provide hosting for the stated duration beginning at the time you activate a service, not at the time of order fulfillment. For example, if you purchased a mailbox service with a 365 day duration, that 365 day period begins at the time you create a mailbox with the purchased credit.</p>

        <p>When using service credits to renew existing services, the service credit duration is added to the duration of the service credit you are renewing. For example, if you use a purchased credit to renew a mailbox that expires in 20 days, the expiration for that mailbox will move out to 385 days. The purchased credit will then be deleted.</p>
    </div>
</div>