<h1>Service List</h1>

<div id="loading_message" ng-show="loading == true">
    <div id="load_spin" class="spinner_box"></div>
    Loading service list...
</div>

<div ng-show="loading == false">
    <table id="records_table" class="pure-table pure-table-striped">
        <thead>
            <tr>
                <th>Service</th>
                <th>Days</th>
                <th>Price (USD)</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="serv in services">
                <td><a href="#/accounts/services/{{ serv.id }}">{{ serv.name }}</a></td>
                <td>{{ serv.duration_days }}</td>
                <td>{{ serv.price_usd | currency }}</td>
            </tr>
        </tbody>
    </table>

    <div class="space_above smaller_text">
        <a class="pure-button" href="#/accounts/services/0">Add Service</a>
    </div>
</div>
