<h1>Sign Up for Hosted Services</h1>

<p>Thank you for your interest in hosting with the THogan.com Lab Network!</p>

<p>The purpose of this service is primarily to fund my personal lab network. But it also allows me to provide exceptionally inexpensive hosting to friends, associates, and interested technology hobbyists. At this first release, service offerings consist of basic email, calendaring, and DNS hosting. Hosting of Django and Mezzanine projects will follow shortly. Additional application platforms may be added in the future based on demand.</p>

<p><strong>Please review</strong> this entire document to make sure that hosting on the THogan.com Lab Network is appropriate for your needs. If you believe it is, click the "I Agree" button at the bottom of this page.</p>

<h2>Hosting is by Invitation Only</h2>

<p>An <strong>invite code</strong> is required to create an account. If you already have an invite code, you will be prompted to enter it on the next page.</p>

<p>If you would like to obtain an invite code, you will need to contact me so that we can discuss your hosting requirements. If you know me directly, feel free to ask me about this at any time. If you do not know me directly, I will want to meet up in a video chat and discuss your planned use of the services.</p>

<p>The reason for the invite and interview process is so that I can make sure hosting on my lab network is suitable to your needs. As this is a spare time operation for me, priced to subsidize and not to profit, I also need to make sure you know what you are getting and that your account will require a minimal time investment from me.</p>

<p>To contact me about getting an invite, <a href="http://thogan.com/email/?regarding=Lab%20Network%20Hosting%20Invite">use the contact form here</a>.</p>

<h2>Appropriate Use</h2>

<p>This service is provided for personal use only, and may not be used in the operation of a business of any type.</p>

<p>I am not a hosting company, the purpose of these services is to subsidize my personal lab network. As such, I cannot provide the level of service you would expect from a full-time hosting provider.</p>

<p>While I am proud to say that I have run these services for almost five years with only hours of downtime, and am working toward automatic fail-over for mail and websites, exceptional circumstances may occur. If one of my servers blows a power supply, fail-over does not succeed, and I am gone canoing for a week, the service will be down until I return and am able to deal with it.</p>

<p>If you require hosting services for a business, or want to have the expectation that someone will handle a trouble ticket in a timely manner, please check out some of these providers:</p>

<ul>
    <li><a href="http://www.rackspace.com/cloud/">Rackspace Cloud</a> provides on-demand Linux and Windows virtual machines.</li>

    <li><a href="http://joesdatacenter.com/">Joe's Datacenter</a> provides dedicated and virtual server hosting, as well as colocation services.</li>

    <li><a href="http://office.microsoft.com/en-us/exchange/microsoft-exchange-online-email-for-business-FX103739072.aspx">Microsoft Exchange Online</a> provides hosted email and calendaring services.</li>

    <li><a href="http://appsembler.com/">Appsembler</a> provides Mezzanine based application hosting</li>
</ul>

<h2>Terms and Conditions</h2>

<p><strong>Please review</strong> the entirety of the terms and conditions.</p>

<h3>1 - Definitions and Applicability</h3>

<p>All further references to "the Lab Network", "I", "me", or "my" herein shall mean Thaddeus J. Hogan, the operator and provider of these services.</p>

<p>These terms and conditions apply to any consumer of services provided by the Lab Network, who herein shall be referred to as the "account holder".</p>

<p>By creating an account with the Lab Network, or by using any service provided by the Lab Network, you agree to be bound by these terms and conditions.</p>

<h3>2 - Availability of Services</h3>

<p>Services are provided solely at my discretion. I may discontinue services at any time and for any reason, with or without notice to the account holder or any other party. Any notice that I give is to be considered a courtesy and does not obligate me to provide services for any amount of time.</p>

<p>Any service purchased from or promised by the Lab Network may be terminated at any time, for any reason, solely at my discretion. Neither the account holder nor any other party is entitled to any refund for terminated services. In no way does the name, description, stated duration, or any other information I provide regarding a service obligate me to provide service for any amount of time.</p>

<p>Any data, files, or other information stored on computers I operate, or any physical media I own or posses, may be deleted at any time, solely at my discretion. In no way does the name, description, stated duration, or any other information I provide regarding a service obligate me to retain for any amount of time any data, files, or other information residing on any computer I operate, or on any physical media a own or posses. In no way shall I be held liable for any damages resulting from the absence or removal of any data, files, or other information residing on any computer I own or operate or any physical media I own or posses.</p>

<h3>3 - Usage Limits</h3>

<p>I may impose limits as I see fit on the use of services provided by the Lab Network. These limits include but are not limited to: the amount of data stored on any computer I own or operate, the number of emails transferred through my mail system, and the amount of data received by or transmitted to any computer I own or operate. These limits are subject to change at any time with or without notice to the account holder or any other party. In no way does the name or description of a service, or any other information I provide regarding a service, serve as a guarantee of the limits I have imposed on the use of that or any other service, or serve as a promise or obligation to not modify those limits.</p>

<h3>4 - Domain Abuse and Postmaster Contacts</h3>

<p>For all of the account holder's domains for which mail service is provided by the Lab Network, Thaddeus J. Hogan shall receieve a copy of all emails sent to the postmaster and abuse mailboxes at those domains.</p>

<p>Enabling mail hosting on a domain will result in the automatic creation of mailboxes for that domain with the following names: abuse, postmaster, webmaster. These mailboxes will be provided free of charge and the account holder will not be billed for their creation or hosting. The account holder may direct mail sent to the webmaster mailbox to any other mailbox that is hosted by the Lab Network. The account holder may opt to receive copies of mail sent to the abuse and postmaster mailboxes created for their domains. In all cases, a copy of all mail sent to the abuse or postmaster mailboxes will be sent to Thaddeus J. Hogan.</p>

<p>The account holder MUST NOT use the postmaster or abuse mailboxes when authenticating their domain with an SSL certificate provider or any other third party. Since I will receive a copy of any mail sent to these mailboxes, they cannot be considered to be mailboxes which exclusively identify the domain owner.</p>

<h3>5 - Sub-leasing and Reselling</h3>

<p>Under no circumstances may services provided by the Lab Network be re-sold, subleased, or in any other way provided to a third-party by the account holder or any other party.</p>

<p>If it is determined by me that a service has been re-sold, subleased, or in any other way provided to a third party, those services will be terminated immediately without any refund to any party.</p>

<h3>6 - Content and Usage Restrictions</h3>

<p>Any content uploaded to the Lab Network which I deem inappropriate may result in the immediate termination of all services provided to the account holder. Any usage of the services which I deem inappropriate may result in the immediate termination of all services provided to the account holder.</p>

<p>If any content uploaded to the Lab Network, or the usages of any services provided by the Lab Network are illegal, or legally questionable per my own opinion, all services will be immediately terminated for the account holder.</p>

<p>If I receive any legal notice, complaint, or other communication requesting the removal of any content hosted by any service provided by the Lab Network, or on any computer that I own or operate, removal of the content will occur solely at my discretion. As I do not have the time nor desire to pursue the defense of any account holder's hosted content, I will often err on the side of compliance with any such removal requests.</p>

<p>If I receive any legal notice, complaint, or other communication requesting a cease and desist of any activity generated by the use of services provided by the Lab Network, or the use of any computer which I own or operate, all services provided to the account holder may be terminated immediately, solely at my discretion.</p>

<h3>7 - Disclaimer of Liability</h3>

<p>Thaddeus J. Hogan is providing these services "as is". Thaddeus J. Hogan does not provide any warranty of the service whatsoever, whether express, implied, or statutory, including, but not limited to, any warranty of merchantability or fitness for a particular purpose or any warranty that the service or its operation will be error-free.</p>

<p>In no respect shall Thaddeus J. Hogan incur any liability for any damages, including, but limited to, direct, indirect, special, or consequential damages arising out of, resulting from, or any way connected to the use of the service, whether or not based upon warranty, contract, tort, or otherwise; whether or not injury was sustained by persons or property or otherwise; and whether or not loss was sustained from, or arose out of, the results of any services that may be provided by Thaddeus J. Hogan.</p>

<p>Thaddeus J. Hogan is not responsible for the content of any website, email, or other means of storing or transmitting data, files, or other information, which is used by any consumer of the services provided by the Lab Network.</p>

<div class="space_above">
    <a href="#/accounts/redeem_invite" class="pure-button">I Agree</button>
</div>