<h1>Account Setup Complete</h1>

<p>Your account has now been created and a password set.</p>

<p>Use the login button at the upper right hand side of the page to login.</p>

<p>Remember, the login email for your account is <em>&lt;Account ID&gt;</em>@thogan.com</p>