<div id="app_header_left">
    <span class="button_padding">
        <a href="#/index">Home</a>
    </span>
</div>

<div id="app_header_right">
    <div ng-show="authenticated == false">
        <span class="button_padding">Not logged in.</span>
        <a class="pure-button space_left" href="#/login">Log In</a>
    </div>
    <div ng-show="authenticated == true">
        <span class="button_padding">Logged in as {{ userinfo.email }} ({{ userinfo.account_id }})</span>
        <button id="logout_button" class="pure-button space_left" ng-click="do_logout();">Log Out</button>
    </div>
</div>