<h1>Hosted Services Tools</h1>
<div id="service_cards" class="clearing">
    <div ng-show="authenticated == true">
        <a class="no_decoration" href="#/zoneman/zonelist">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/zoneman48.png" alt="Zone Manager Icon">DNS Zone Manager
                </div>
                <div class="service_card_body">
                    Create, delete, and manage hosted
                    DNS zones. View and edit records for your managed zones.
                </div>
            </div>
        </a>

        <div class="service_card">
            <div class="service_card_header">
                <img src="/static/img/mailbox48.png" alt="Mailbox Manager Icon">Mailbox Manager
            </div>
            <div class="service_card_body">
                Create, delete, and manage mailboxes and distribution
                groups associated with any of your hosted domains.
            </div>
        </div>

        <div class="service_card">
            <div class="service_card_header">
                <img src="/static/img/sitehost48.png" alt="Hosted Sites Icon">Hosted Sites
            </div>
            <div class="service_card_body">
                Manage hosted websites and Mezzanine based web applications.
                Access to source control and databases for hosted sites.
            </div>
        </div>

        <a class="no_decoration" href="#/accounts/current_order">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/order48.png" alt="Order Icon">Order Services
                </div>
                <div class="service_card_body">
                    Browse and order hosted services from the THogan.com Lab Network.
                </div>
            </div>
        </a>

        <a class="no_decoration" href="#/accounts/{{ userinfo.account_id }}/summary">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/account48.png" alt="Account Icon">Manage Account
                </div>
                <div class="service_card_body">
                    View and update account information. View available and used service credits.
                    View order history. Assign Account Managers.
                </div>
            </div>
        </a>
    </div>
    <div ng-show="userinfo.is_superuser == true">
        <a class="no_decoration" href="#/accounts/services">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/services48.png" alt="Manage Services Icon">Manage Services
                </div>
                <div class="service_card_body">
                    Manage services available from the THogan.com Lab Network.
                    Setup products, enter descriptions, and specify pricing.
                </div>
            </div>
        </a>

        <a class="no_decoration" href="#/accounts/accounts">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/accounts48.png" alt="Accounts Icon">Manage Accounts
                </div>
                <div class="service_card_body">
                    Manage hosted services accounts. Issue hosting invitations.
                    View payment status and service credits used.
                </div>
            </div>
        </a>
    </div>
    <div ng-show="authenticated == false">
        <a class="no_decoration" href="#/accounts/signup">
            <div class="service_card">
                <div class="service_card_header">
                    <img src="/static/img/register48.png" alt="Register Icon">Sign Up For Hosting
                </div>
                <div class="service_card_body">
                    <p>Click here to sign up for hosting on the THogan.com Lab Network!</p>
                    <p><strong>IMPORTANT NOTE:</strong> These services are not offered with the types of SLAs you
                        would expect from other hosting services. This is a one man, spare time operation. Details on
                        SLAs and expectations will be presented before you can check-out.</p>
                    <p><strong>NOTE: </strong>Hosting is currently by INVITATION ONLY. You must have an invitation code to sign up within.</p>
                </div>
            </div>
        </a>
    </div>
</div>